@charset "UTF-8";
:root {
    /* colors */
    --primary: #5872C7;
    --secondary: #4c4c4c;
    --justblue: #5872C7;
    --justgreen: #6CC559;
    --darkblue: #1e2936;
    --darkgray: #4c4c4c;
    --gray: #b1b2b5;
    --redice: #e8e9ea;

    --font-family-primary: 'Source Sans Pro', sans-serif !important;
} 

body {
    background-color: var(--redice);
}

/* typography */

    h1 {
        color: var(--darkblue);
        font-style: normal;
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 1.2;
    }

    h2 {
        color: var(--darkblue);
        font-style: normal;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.2;
    }

    h3 {
        color: var(--darkblue);
        font-style: normal;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.2;
    }

    h4{
        color: var(--darkgray);
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
    }

    h5 {
        color: var(--darkgray);
        font-style: normal;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2;
    }

    h6 {
        color: var(--darkgray);
        font-style: normal;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.2;
    }

    .bodylight {
        color: var(--darkgray);
        font-style: normal;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
    }

    p {
        color: var(--darkgray);
        font-style: normal;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .bodymedium {
        color: var(--darkgray);
        font-style: normal;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2;
    }

    .small {
        color: var(--darkgray);
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .caption {
        color: var(--darkgray);
        font-style: normal;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.2;
    }

    .link-primary {
        color: var(--justblue) !important;
    }

/* buttons */
    .btn-primary {
        border: 0px;
        background: var(--primary);
        padding: 0.5rem 2rem;
    }
    .btn-primary:hover {
        background: var(--secondary);
    }

    .btn-secondary {
        border: 0px;
        background: var(--secondary);
        padding: 0.5rem 2rem;
    }

    .btn-outline-primary {
        padding: 0.5rem 2rem;
        color: var(--primary);
        font-weight: 600;
    }

    .btn-outline-primary:hover {
        background: var(--primary);
    }

    .btn-tertiary {
        padding: 0.5rem 2rem;
        color: var(--darkgray);
        font-style: normal;
        font-weight: 600;
    }

    .btn-tertiary:hover {
        background: var(--redice);
    }

/* forms */

    .form-label {
        color: var(--darkgray);
    }


    .form-check-label {
        color: var(--darkgray);
    }

/* boxes */
.box-normal {
    position: relative;
    width: 30rem;
    height: auto;
    border-radius: 0.5rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    flex-wrap: wrap;
  }

  .box-big {
    position: relative;
    max-width: 40rem;
    height: auto;
    border-radius: 0.5rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding: 2rem;
    flex-wrap: wrap;
  }

  /* logo */
    .logo {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 0px;
    flex-wrap: nowrap;
  }

    #logo-img {
        width: 2.5rem;
        height: 2.5rem;
    }
    #logo-text {
        color: var(--darkblue);
    }

@media screen and (max-width: 600px) {
  .box-big{
    width: 96vw;
    padding: 2rem 1rem;
  }

  .box-normal {
    width: 94vw;
    padding: 1rem;
    max-width: 30rem;
  }
}